@model Najmodavac.Models.TipSmjestaja

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TipSmjestaja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrsta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostanskiBroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostanskiBroj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojSmjestajnihJedinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojSmjestajnihJedinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivSmjestaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivSmjestaja.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
