@model IEnumerable<Najmodavac.Models.TipSmjestaja>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tip Smjestaja</h1>

<p>
    <a asp-action="Create">Dodaj Novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostanskiBroj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojSmjestajnihJedinica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazivSmjestaja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostanskiBroj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSmjestajnihJedinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivSmjestaja.Naziv)
            </td>
            <partial name="_TableButtonPartial" model="item.Id" />
        </tr>
}
    </tbody>
</table>
